@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* shared style */


/* header styles */
.banner{
    min-height: 600px;
    width: 1320px;
    margin: 0 auto;
    border-radius: 16px;

    background-image:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url("../images/Banner\ Image.png ");
  /* background-repeat: no-repeat; */
  background-size: cover;
  margin-top: 50px;
}
.banner-content{
    
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 177px;
    /* color: rgb(255, 255, 255);
    font-family: Merriweather;
    width: 632px;
height: 246px;
padding: 177px 600px; */   
}
.banner-content p{
    font-size: 32px;
font-weight: 300;
}
.banner-content h1{
    font-size: 72px;
font-weight: 900;
}
.banner-content span{
    padding-left: 50px;
}
/* styles section1 */
.section1-content{
    width: 802.9px;
    height: 806px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
   
}
.section1-content h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-top: 120px;
}
.section1-content p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-top: 48px;

}
.section1-content h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 16px;

}
.section1-content img{
    margin-top: 48px;
}
/* section2 styles */

